@model User

@{
	ViewData["Title"] = $"{Model.Name}";
	var userInfoDto = new UserInfoDto
			{
				Name = Model.Name,
				Email = Model.Email,
				DateOfBirth = Model.DateOfBirth,
				CountryId = Model.CountryId,
				ProfileImageBytes = Model.ProfileImage
			};
	var changePasswordDto = new ChangePasswordDto();
}
@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	@TempData["SuccessMessage"]
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
	@TempData["ErrorMessage"]
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
	
}
<div class="d-flex col justify-content-center">
	<partial name="_UserInfo.cshtml" model="@userInfoDto"/>
	<partial name="_ResetPassword.cshtml" model="@changePasswordDto"/>
	<h1>My Followers</h1>

</div>

<script src="~/js/profile.js"></script>
@section Scripts{ 
	<partial name="_ValidationScriptsPartial" />
<script>
	const myDate = "@Model.DateOfBirth.ToString()";
		document.addEventListener('DOMContentLoaded', function () {
			formatDate(myDate);
			handleToggleInput();
			handleImageUpload();
			handleResetPasswordButtons();
	});
</script>
}
